menu: [
  {
    label: "Packages"
    submenu: [
      {
        label: "Tertestrial"
        submenu: [
          { label: "Test File", command: "tertestrial:test-file" }
          { label: "Test Line", command: "tertestrial:test-line" }
          { label: "Repeat Last Test", command: "tertestrial:repeat-last-test" }
          { label: "Toggle Auto Test", command: "tertestrial:toggle-auto-test" }
          { label: "Update Action Set", command: "tertestrial:update-action-set" }
        ]
      }
    ]
  }
]
